<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PropertyManagementPlus.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>04FD399B7A7533009A8DD3D157235F350B189E82</string>
				<key>dateExpires</key>
				<string>2019/3/23</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04FD399B7A7533009A8DD3D157235F350B189E82</string>
						<key>dateExpires</key>
						<string>2019/3/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>738599KSSL</string>
						<key>name</key>
						<string>Shanghai Lesoft Information Tech. Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04FD399B7A7533009A8DD3D157235F350B189E82</string>
						<key>dateExpires</key>
						<string>2019/3/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Eureka.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>738599KSSL</string>
						<key>name</key>
						<string>Shanghai Lesoft Information Tech. Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04FD399B7A7533009A8DD3D157235F350B189E82</string>
						<key>dateExpires</key>
						<string>2019/3/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>738599KSSL</string>
						<key>name</key>
						<string>Shanghai Lesoft Information Tech. Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04FD399B7A7533009A8DD3D157235F350B189E82</string>
						<key>dateExpires</key>
						<string>2019/3/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HandyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>738599KSSL</string>
						<key>name</key>
						<string>Shanghai Lesoft Information Tech. Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04FD399B7A7533009A8DD3D157235F350B189E82</string>
						<key>dateExpires</key>
						<string>2019/3/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>738599KSSL</string>
						<key>name</key>
						<string>Shanghai Lesoft Information Tech. Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04FD399B7A7533009A8DD3D157235F350B189E82</string>
						<key>dateExpires</key>
						<string>2019/3/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>738599KSSL</string>
						<key>name</key>
						<string>Shanghai Lesoft Information Tech. Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04FD399B7A7533009A8DD3D157235F350B189E82</string>
						<key>dateExpires</key>
						<string>2019/3/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LCActionSheet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>738599KSSL</string>
						<key>name</key>
						<string>Shanghai Lesoft Information Tech. Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04FD399B7A7533009A8DD3D157235F350B189E82</string>
						<key>dateExpires</key>
						<string>2019/3/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LVRecordTool.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>738599KSSL</string>
						<key>name</key>
						<string>Shanghai Lesoft Information Tech. Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04FD399B7A7533009A8DD3D157235F350B189E82</string>
						<key>dateExpires</key>
						<string>2019/3/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>738599KSSL</string>
						<key>name</key>
						<string>Shanghai Lesoft Information Tech. Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04FD399B7A7533009A8DD3D157235F350B189E82</string>
						<key>dateExpires</key>
						<string>2019/3/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>738599KSSL</string>
						<key>name</key>
						<string>Shanghai Lesoft Information Tech. Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04FD399B7A7533009A8DD3D157235F350B189E82</string>
						<key>dateExpires</key>
						<string>2019/3/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PureLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>738599KSSL</string>
						<key>name</key>
						<string>Shanghai Lesoft Information Tech. Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04FD399B7A7533009A8DD3D157235F350B189E82</string>
						<key>dateExpires</key>
						<string>2019/3/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SCLAlertView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>738599KSSL</string>
						<key>name</key>
						<string>Shanghai Lesoft Information Tech. Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04FD399B7A7533009A8DD3D157235F350B189E82</string>
						<key>dateExpires</key>
						<string>2019/3/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>738599KSSL</string>
						<key>name</key>
						<string>Shanghai Lesoft Information Tech. Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04FD399B7A7533009A8DD3D157235F350B189E82</string>
						<key>dateExpires</key>
						<string>2019/3/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SSZipArchive.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>738599KSSL</string>
						<key>name</key>
						<string>Shanghai Lesoft Information Tech. Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04FD399B7A7533009A8DD3D157235F350B189E82</string>
						<key>dateExpires</key>
						<string>2019/3/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>738599KSSL</string>
						<key>name</key>
						<string>Shanghai Lesoft Information Tech. Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04FD399B7A7533009A8DD3D157235F350B189E82</string>
						<key>dateExpires</key>
						<string>2019/3/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>738599KSSL</string>
						<key>name</key>
						<string>Shanghai Lesoft Information Tech. Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04FD399B7A7533009A8DD3D157235F350B189E82</string>
						<key>dateExpires</key>
						<string>2019/3/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TZImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>738599KSSL</string>
						<key>name</key>
						<string>Shanghai Lesoft Information Tech. Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04FD399B7A7533009A8DD3D157235F350B189E82</string>
						<key>dateExpires</key>
						<string>2019/3/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toaster.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>738599KSSL</string>
						<key>name</key>
						<string>Shanghai Lesoft Information Tech. Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04FD399B7A7533009A8DD3D157235F350B189E82</string>
						<key>dateExpires</key>
						<string>2019/3/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YYModel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>738599KSSL</string>
						<key>name</key>
						<string>Shanghai Lesoft Information Tech. Co.,Ltd</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>738599KSSL.wuguanjia-cn.Lesoft.tob</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>738599KSSL</string>
				<key>get-task-allow</key>
				<false/>
				<key>inter-app-audio</key>
				<true/>
			</dict>
			<key>name</key>
			<string>PropertyManagementPlus.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>62515e58-e6d1-4c63-823a-862a8b9bc81c</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: wuguanjia-cn.Lesoft.tob</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>738599KSSL</string>
				<key>name</key>
				<string>Shanghai Lesoft Information Tech. Co.,Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
